
/* ========================
StyleStarter
======================== */


/* ---------------------------------
resets & placeholders
--------------------------------- */

%setGlobals {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	font-size: 62.5%;
}


%setTypography {
	font-family: 'Helvetica, Arial', sans-serif;
	font-size: 1.6rem;
}


%setX {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;

	main { flex-grow: 1; }
}


@mixin styleInit($x: false) {
	:root { @extend %setGlobals; }

	body {
		@extend %setTypography;

		@if ($x) { @extend %setX }
	}
}


%resetAnchors {
	text-decoration: none;
	color: inherit;
}


/* ---------------------------------
functions
--------------------------------- */

// returns a container sized after the number of
// desired columns + the desired column gutter
@function colContainer($cols, $colWidth, $gutter) {
  @return (($colWidth * $cols) + ($gutter * ($cols - 1))) * 1px;
}


// returns the size in ems based on
// the desired target size in pixels
@function emCalc($target, $context: 16) {
	@return ($target / $context) * 1em;
}


/* ---------------------------------
mixins
--------------------------------- */


// sets flexbox properties
@mixin flex($direction, $justify, $align, $wrap: nowrap) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
}


// resets boxes or lists
@mixin resetBox($pad: 0, $mar: 0, $isList: true) {
	padding: $pad;
	margin: $mar;
	@if $isList {
		list-style: none;
	}
}


// creates a centered container
// of the desired width
@mixin container($w) {
	display: block;
	max-width: $w;
	margin: 0 auto;
}


// creates a clearfix
// courtesy of Bootstrap 4
@mixin clearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}


// truncates text at the given width
@mixin truncate($w) {
	width: $w;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


// creates a round shape
@mixin round($w) {
	display: inline-block;
	width: $w;
	height: $w;
	border-radius: 50%;
}


/* ---------------------------------
other
--------------------------------- */

// highlights all elements for debugging
$debug: false;

* { @if $debug { outline: 1px solid purple; } }

// highlights the given element for debugging
@mixin highlight { outline: 1px solid purple; }
